.btn {
  border-width: 2px;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #f1f7fa;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 7.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6875rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 3rem;
  line-height: 1.17;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.125rem;
  line-height: 1.55;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
}
.display-7 > .mbr-iconfont {
  font-size: 2.1875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.425rem;
    font-size: calc( 3.3625rem + (7.75 - 3.3625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.3625rem + (7.75 - 3.3625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #09bc8a !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary {
  background: linear-gradient(90deg, #09bc8a, #09bc8a 65%, #36f5c0) !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #09bc8a !important;
  border-color: #09bc8a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #0bedae !important;
  border-color: #0bedae !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0bedae !important;
  border-color: #0bedae !important;
}
.btn-secondary {
  background: linear-gradient(90deg, #508991, #508991 65%, #89b7be) !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #508991 !important;
  border-color: #508991 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #68a3ac !important;
  border-color: #68a3ac !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #68a3ac !important;
  border-color: #68a3ac !important;
}
.btn-info {
  background: linear-gradient(90deg, #0aa3c2, #0aa3c2 65%, #3dd6f5) !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success {
  background: linear-gradient(90deg, #20ac6b, #20ac6b 65%, #53df9e) !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning {
  background: linear-gradient(90deg, #cc9900, #cc9900 65%, #ffcc33) !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger {
  background: linear-gradient(90deg, #ae1e2c, #ae1e2c 65%, #e1515f) !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white {
  background: linear-gradient(90deg, #ffffff, #ffffff 65%, #ffffff) !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black {
  background: linear-gradient(90deg, #232323, #232323 65%, #565656) !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #09bc8a;
  color: #09bc8a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #05694d !important;
  background-color: transparent !important;
  border-color: #05694d !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #09bc8a !important;
  border-color: #09bc8a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #508991;
  color: #508991;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #315459 !important;
  background-color: transparent !important;
  border-color: #315459 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #508991 !important;
  border-color: #508991 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #09bc8a !important;
}
.text-secondary {
  color: #508991 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #045b43 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #2c4b4f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #09bc8a;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #09bc8a;
  border-color: #09bc8a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #09bc8a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #4ef7c7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.1875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #09bc8a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.75rem;
  line-height: 1.286;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.1875rem;
}
blockquote {
  border-color: #09bc8a;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #09bc8a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #09bc8a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #09bc8a;
  border-bottom-color: #09bc8a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #09bc8a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #508991 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2309bc8a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 8px 16px;
  border-radius: 50px !important;
  font-weight: 400 !important;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 85%;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  transform: scale(1.04);
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn-main .btn:hover .mbr-iconfont,
.mbr-section-btn .btn:focus .mbr-iconfont,
.mbr-section-btn-main .btn:focus .mbr-iconfont {
  transform: translateX(2px);
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger,
.mbr-section-btn .btn-black,
.mbr-section-btn-main .btn-black,
.mbr-section-btn .btn-white,
.mbr-section-btn-main .btn-white {
  border: none !important;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  border-width: 1px !important;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.slide-content,
.item-wrap,
.mbr-figure {
  border-radius: 24px !important;
}
.icon-wrap {
  border-radius: 16px;
}
.item-number img {
  border-radius: 16px !important;
}
.item-number {
  border-radius: 16px;
}
.form-control {
  border-radius: 8px !important;
}
.nav.nav-tabs .nav-item .nav-link {
  border-radius: 8px !important;
}
.nav.nav-tabs .nav-item {
  border-radius: 8px !important;
}
.cid-uLRILiDnQM {
  background-color: transparent;
}
.cid-uLRILiDnQM .navbar-dropdown {
  background-color: #001521 !important;
  padding: 0;
}
.cid-uLRILiDnQM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #001521 !important;
  background: #001521;
}
.cid-uLRILiDnQM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uLRILiDnQM .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-uLRILiDnQM .menu_box .navbar.opened,
  .cid-uLRILiDnQM .menu_box .navbar-collapse {
    background-color: #001521 !important;
    transition: all 0s ease 0s;
  }
}
.cid-uLRILiDnQM .navbar-dropdown {
  position: relative !important;
}
.cid-uLRILiDnQM .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  margin-left: 24px;
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .icons-menu-main {
    min-width: auto;
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-uLRILiDnQM .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 120px;
  white-space: nowrap;
}
.cid-uLRILiDnQM .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uLRILiDnQM .btn:hover {
  box-shadow: none;
}
.cid-uLRILiDnQM .nav-item {
  margin: 4px 0;
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .nav-item {
    margin: 4px 40px 4px 0;
  }
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .nav-item {
    margin: 4px 0;
  }
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .nav-item {
    margin: 0 !important;
  }
}
.cid-uLRILiDnQM .nav-item .nav-link {
  display: flex;
  justify-content: center;
  padding: 12px;
  transition: all 0.3s ease-out;
  border-radius: 4px !important;
  border: 1px solid transparent;
  position: relative;
  opacity: 1;
}
@media (max-width: 992px) {
  .cid-uLRILiDnQM .nav-item .nav-link {
    justify-content: flex-start;
  }
}
.cid-uLRILiDnQM .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}
.cid-uLRILiDnQM .nav-item .nav-link:hover,
.cid-uLRILiDnQM .nav-item .nav-link:focus {
  background-color: #09bc8a;
  color: #ffffff !important;
}
.cid-uLRILiDnQM .nav-item .nav-link:hover::before,
.cid-uLRILiDnQM .nav-item .nav-link:focus::before {
  width: 80%;
}
.cid-uLRILiDnQM .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uLRILiDnQM .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uLRILiDnQM .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uLRILiDnQM .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uLRILiDnQM .offcanvas_box {
    display: none;
  }
}
.cid-uLRILiDnQM .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-uLRILiDnQM .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uLRILiDnQM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-uLRILiDnQM .container {
  display: flex;
  margin: auto;
}
.cid-uLRILiDnQM .iconfont-wrapper {
  color: #ffffff;
  font-size: 26px;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.cid-uLRILiDnQM .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uLRILiDnQM .iconfont-wrapper:hover .mbr-iconfont {
  opacity: 0.7;
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .navbar-nav {
    margin: 0;
  }
}
.cid-uLRILiDnQM .dropdown-menu,
.cid-uLRILiDnQM .navbar.opened {
  background-color: false !important;
}
.cid-uLRILiDnQM .nav-item:focus,
.cid-uLRILiDnQM .nav-link:focus {
  outline: none;
}
.cid-uLRILiDnQM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uLRILiDnQM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uLRILiDnQM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uLRILiDnQM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uLRILiDnQM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uLRILiDnQM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uLRILiDnQM .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uLRILiDnQM .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uLRILiDnQM .navbar.opened {
  transition: all 0.3s;
}
.cid-uLRILiDnQM .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uLRILiDnQM .navbar .navbar-logo img {
  max-width: 62px;
  min-height: 62px;
  object-fit: contain;
  border-radius: 100% !important;
}
.cid-uLRILiDnQM .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  z-index: 1;
}
.cid-uLRILiDnQM .navbar.collapsed {
  justify-content: center;
}
.cid-uLRILiDnQM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uLRILiDnQM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uLRILiDnQM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uLRILiDnQM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uLRILiDnQM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uLRILiDnQM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uLRILiDnQM .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uLRILiDnQM .navbar .nav-item {
    padding: 0.5rem 0;
  }
  .cid-uLRILiDnQM .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-uLRILiDnQM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uLRILiDnQM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uLRILiDnQM .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uLRILiDnQM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uLRILiDnQM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uLRILiDnQM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uLRILiDnQM .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-uLRILiDnQM .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uLRILiDnQM .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uLRILiDnQM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-uLRILiDnQM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uLRILiDnQM .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uLRILiDnQM .navbar.navbar-short {
  min-height: 60px;
}
.cid-uLRILiDnQM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uLRILiDnQM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uLRILiDnQM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uLRILiDnQM .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-uLRILiDnQM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uLRILiDnQM .dropdown-item.active,
.cid-uLRILiDnQM .dropdown-item:active {
  background-color: transparent;
}
.cid-uLRILiDnQM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 6px 16px !important;
}
.cid-uLRILiDnQM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uLRILiDnQM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uLRILiDnQM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uLRILiDnQM ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uLRILiDnQM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uLRILiDnQM button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #001521;
  background: #001521;
}
.cid-uLRILiDnQM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uLRILiDnQM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uLRILiDnQM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uLRILiDnQM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uLRILiDnQM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uLRILiDnQM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uLRILiDnQM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uLRILiDnQM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uLRILiDnQM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uLRILiDnQM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uLRILiDnQM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uLRILiDnQM .navbar {
    height: 70px;
  }
  .cid-uLRILiDnQM .navbar.opened {
    height: auto;
  }
  .cid-uLRILiDnQM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uLRILiDnQM .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
.cid-uLRILiDnQM .navbar-caption:hover {
  color: #09bc8a;
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uLRILiDnQM .text_widget {
  margin-bottom: 32px;
}
.cid-uLRILiDnQM .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uLRILiDnQM .text_widget a:hover,
.cid-uLRILiDnQM .text_widget a:focus {
  opacity: 0.8;
}
@media (min-width: 992px) {
  .cid-uLRILiDnQM .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-start;
    min-width: 200px;
    padding-left: 48px;
  }
}
.cid-uLRILiDnQM .navbar-caption {
  color: #FFFFFF;
}
.cid-uLRILiDnQM .mbr-section-subtitle,
.cid-uLRILiDnQM .text_widget,
.cid-uLRILiDnQM .mbr-section-btn {
  text-align: center;
}
.cid-uLRILiDnQM a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uLRILiDnQM .nav-link,
.cid-uLRILiDnQM .dropdown-item {
  color: #FFFFFF;
}
.cid-uLRILlHD4M {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #001521;
}
.cid-uLRILlHD4M .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLRILlHD4M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uLRILlHD4M .content-wrapper {
  position: relative;
  padding: 130px 0;
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  border: 1px solid #00638d;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uLRILlHD4M .content-wrapper {
    padding: 16px;
    border-radius: 24px;
  }
}
.cid-uLRILlHD4M .content-wrapper .image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cid-uLRILlHD4M .content-wrapper .image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.cid-uLRILlHD4M .content-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #002234;
  opacity: 0.9;
  pointer-events: none;
  z-index: 1;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap {
  position: relative;
  z-index: 1;
  width: 50%;
}
@media (max-width: 992px) {
  .cid-uLRILlHD4M .content-wrapper .content-wrap {
    width: 100%;
  }
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .title-wrapper {
  margin-bottom: 32px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .title-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .title-wrapper .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group {
  margin-bottom: 12px !important;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-control-label {
  width: 100%;
  margin-bottom: 8px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-control {
  position: relative;
  z-index: 1;
  padding: 0 16px;
  border: 1px solid #ffffff !important;
  box-shadow: none;
  background-color: transparent;
  line-height: 1 !important;
  color: #ffffff;
  font-size: 18px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-control:hover,
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-control:focus {
  border: 1px solid #09bc8a !important;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-control::placeholder {
  color: #ffffff;
  font-size: 18px;
  opacity: 0.7;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group textarea {
  min-height: 100px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-check {
  padding-left: 2.6em;
  margin-bottom: 16px;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .form-group .form-check .form-check-input {
  background-color: #ffffff;
  border-color: #ffffff;
}
.cid-uLRILlHD4M .content-wrapper .content-wrap .form-wrapper .dragArea.row .mbr-section-btn {
  width: 100%;
}
.cid-uLRILlHD4M .mbr-section-title {
  color: #ffffff;
}
.cid-uLRILlHD4M .mbr-text,
.cid-uLRILlHD4M .text-wrapper {
  color: #FFFFFF;
  text-align: center;
}
.cid-uLRILlHD4M .mbr-section-title,
.cid-uLRILlHD4M .mbr-section-btn {
  text-align: center;
  color: #FFFFFF;
}
.cid-uLRILlIYyw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #001521;
}
.cid-uLRILlIYyw .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLRILlIYyw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100px;
   top: 0;
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper {
  margin-bottom: 24px;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-uLRILlIYyw .content-wrapper .social-wrapper {
    display: block;
  }
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper .mbr-desc {
  margin-right: 24px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uLRILlIYyw .content-wrapper .social-wrapper .mbr-desc {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper .social-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper .social-wrap .soc-item a {
  display: block;
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont,
.cid-uLRILlIYyw .content-wrapper .social-wrapper .social-wrap .soc-item a:focus .mbr-iconfont {
  background-color: #121212;
  color: #ffffff;
}
.cid-uLRILlIYyw .content-wrapper .social-wrapper .social-wrap .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  color: #9aa0a6;
  background-color: transparent;
  font-size: 24px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  margin: 2px;
}
.cid-uLRILlIYyw .border-wrap {
  width: 100%;
  height: 1px;
  background-color: #5f6368;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uLRILlIYyw .border-wrap {
    margin-bottom: 24px;
  }
}
.cid-uLRILlIYyw .items-wrapper {
  margin: 0 -32px;
  justify-content: center;
}
.cid-uLRILlIYyw .items-wrapper .card {
  padding: 0 32px;
}
.cid-uLRILlIYyw .list-wrapper {
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .cid-uLRILlIYyw .list-wrapper {
    margin-bottom: 24px;
  }
}
.cid-uLRILlIYyw .list-wrapper .mbr-desc {
  margin-bottom: 16px;
}
.cid-uLRILlIYyw .list-wrapper .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cid-uLRILlIYyw .list-wrapper .list .item-wrap {
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cid-uLRILlIYyw .list-wrapper .list .item-wrap:hover,
.cid-uLRILlIYyw .list-wrapper .list .item-wrap:focus {
  color: #ffffff;
}
.cid-uLRILlIYyw .list-wrapper .list .item-wrap:last-child {
  margin-bottom: 0;
}
.cid-uLRILlIYyw .text-wrapper {
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .cid-uLRILlIYyw .text-wrapper {
    margin-bottom: 24px;
  }
}
.cid-uLRILlIYyw .text-wrapper .mbr-desc {
  margin-bottom: 16px;
}
.cid-uLRILlIYyw .text-wrapper .mbr-text {
  margin-bottom: 16px;
}
.cid-uLRILlIYyw .mbr-copy {
  margin-bottom: 0;
  color: #FFFFFF;
  text-align: center;
}
.cid-uLRILlIYyw .mbr-desc {
  color: #ffffff;
}
.cid-uLRILlIYyw .mbr-text,
.cid-uLRILlIYyw .text-wrapper {
  color: #9aa0a6;
}
.cid-uLRILlIYyw .list {
  color: #9aa0a6;
}
